RewriteEngine On
AddDefaultCharset UTF-8
AddType text/html;charset=utf-8 html
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /geekr-fe/index.php?/$1 [L]

ErrorDocument 404 /index.php